
<!--<div class="navbar">
<button class="button" [mat-button] (click)="bar()"> Bar Chart</button>
<br>
<br>
<br>
<button class="button" [mat-button] (click)="pie()"> Pie Chart</button>
<br>
<br>
<br>
<button class="button" [mat-button] (click)="stack()"> Stack Chart</button>

</div>
<p>select a chart</p>
<div>
<router-outlet></router-outlet>
</div>-->


<!--
<mdb-side-nav #sidenav class="fixed" [fixed]="true">
  <ul>
    <li><button class="button" [mat-button] (click)="bar()"> Bar Chart</button></li>
        
    <li><button class="button" [mat-button] (click)="pie()"> Pie Chart</button></li>
          
    <li><button class="button" [mat-button] (click)="stack()"> Stack Chart</button></li>
  </ul>
</mdb-side-nav>-->

<!--<div class="sidenav">
  <button class="button"  (click)="bar()"> Bar Chart</button>
<br>
<br>
<br>
<button class="button"  (click)="pie()"> Pie Chart</button>
<br>
<br>
<br>
<button class="button"  (click)="stack()"> Stack Chart</button>
</div>-->