<!--<button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>-->


<div class="sidenav">

  <h3>CHART GENERATOR</h3>
<br>
<br>
<br>
<br>

  <button class="button"  (click)="bar()"> Bar Chart</button>
<br>
<br>

<button class="button"  (click)="pie()"> Pie Chart</button>
<br>
<br>

<button class="button"  (click)="stack()"> Stack Chart</button>
</div>
<div class="bg" ><p>fytyigjfud hn</p> </div>

<router-outlet></router-outlet>
  

<!--
<mat-sidenav-container>
  <mat-sidenav open()>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>-->
